<div class="container">
  <form [formGroup]="form">

    <div class="row mb-2" formArrayName="searchFilters">
      <div *ngFor="let param of searchFilters.controls; let i=index" class="col-md-12 form-input">
        <div [formGroupName]="i">
          <select formControlName="bool">
            <option *ngFor="let b of bool" [value] = b>
              {{boolMap[b]}}
            </option>
          </select>

          <select (change)="onFilterSelectionChange($event)" #element formControlName="filter">
            <option value='' selected>-- Select filter --</option>
            <option *ngFor="let filterKey of filterKeys.sort()" [value] = filterKey>
              {{filtersMap[filterKey]}}
            </option>
          </select>

          <ng-container [ngSwitch]="element.value">
            <ng-container *ngSwitchCase="'population'">
              <select formControlName="populationId">
                <option *ngFor="let pos of (populations$ | async)" [value] = pos.populationId>
                  {{pos.populationName}}
                </option>value
              </select>
              <button (click)="addFilter()" class="btn btn-info btn-sm">Add filter</button>
              <button (click)="removeFilter(i)" class="btn btn-info btn-sm" *ngIf="i > 0">Remove filter</button>
            </ng-container>

            <ng-container *ngSwitchCase="'tissue'">
              <select formControlName="tissueId">
                <option *ngFor="let pos of (tissues$ | async)" [value] = pos.tissueId>
                  {{pos.tissueName}}
                </option>
              </select>
              <button (click)="addFilter()" class="btn btn-info btn-sm">Add filter</button>
              <button (click)="removeFilter(i)" class="btn btn-info btn-sm" *ngIf="i > 0">Remove filter</button>
            </ng-container>

            <ng-container *ngSwitchCase="'duplication'">
              <select formControlName="duplicationId">
                <option *ngFor="let pos of (duplications$ | async)" [value] = pos.duplicationId>
                  {{pos.duplicationName}}
                </option>
              </select>
              <button (click)="addFilter()" class="btn btn-info btn-sm">Add filter</button>
              <button (click)="removeFilter(i)" class="btn btn-info btn-sm" *ngIf="i > 0">Remove filter</button>
            </ng-container>

            <ng-container *ngSwitchCase="'location'">
              <select formControlName="locationId">
                <option *ngFor="let pos of (locations$ | async)" [value] = pos.locationId>
                  {{pos.locationName}}
                </option>
              </select>
              <button (click)="addFilter()" class="btn btn-info btn-sm">Add filter</button>
              <button (click)="removeFilter(i)" class="btn btn-info btn-sm" *ngIf="i > 0">Remove filter</button>
            </ng-container>

            <ng-container *ngSwitchCase="'shelfPosition'">
              <select formControlName="shelfPositionId">
                <option *ngFor="let pos of (shelfPositions$ | async)" [value] = pos.shelfPositionId>
                  {{pos.shelfPositionName}}
                </option>
              </select>
              <button (click)="addFilter()" class="btn btn-info btn-sm">Add filter</button>
              <button (click)="removeFilter(i)" class="btn btn-info btn-sm" *ngIf="i > 0">Remove filter</button>
            </ng-container>

            <ng-container *ngSwitchCase="'containerType'">
              <select formControlName="containerTypeId">
                <option *ngFor="let pos of (containerType$ | async)" [value] = pos.containerTypeId>
                  {{pos.containerTypeName}}
                </option>
              </select>
              <button (click)="addFilter()" class="btn btn-info btn-sm">Add filter</button>
              <button (click)="removeFilter(i)" class="btn btn-info btn-sm" *ngIf="i > 0">Remove filter</button>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <button (click)="searchPlantSamples()" class="btn btn-info btn-sm action-button">Search</button>
      <button (click)="clearSearchResults()" class="btn btn-warning btn-sm action-button">Clear</button>
    </div>
    <button (click)="openFilterDialog()" class="btn btn-warning btn-sm">Filter columns</button>

    <div class="row mb-2" formArrayName="searchResults">
      <input type="text" *ngIf="searchResults.controls.length > 0" placeholder="Range filter" style="margin-left: 15px;" #rangesToMark>
      <button class="btn btn-info btn-sm" *ngIf="searchResults.controls.length > 0" (click)="mark(rangesToMark.nativeElement.value)">Mark</button>
      <button class="btn btn-info btn-sm" *ngIf="searchResults.controls.length > 0" (click)="unmark()">Unmark</button>
      <button class="btn btn-warning btn-sm" *ngIf="searchResults.controls.length > 0" (click)="openAddPrepDialog()" [disabled]="getSelectedRows().length === 0">Add prep</button>

      <div *ngFor="let result of searchResults.controls; let i=index" class="col-md-12 form-input">

        <div [formGroupName]="i">
          <label [for]="'checkbox-' + i">{{i}}</label>
          <input [id]="'checkbox-' + i" type="checkbox" formControlName="edit" (change)="onEditChange(i)">
          <input type="text" formControlName="sampleName" [hidden]="columnShowFilters.controls.showSampleName.value === false" (change)="onEdit('sampleName', sampleName.value)" #sampleName>
          <input type="date" formControlName="collectionDate" [hidden]="columnShowFilters.controls.showCollectionDate.value === false" (change)="onEdit('collectionDate', collectionDate.value)" #collectionDate>
          <select id="populationId" formControlName="populationId" [hidden]="columnShowFilters.controls.showPopulation.value === false" (change)="onEdit('populationId', populationId.value)" #populationId>
            <option *ngFor="let pos of (populations$ | async)" [value] = pos.populationId>
              {{pos.populationName}}
            </option>
          </select>
          <select id="tissueId" formControlName="tissueId" [hidden]="columnShowFilters.controls.showTissue.value === false" (change)="onEdit('tissueId', tissueId.value)" #tissueId>
            <option *ngFor="let pos of (tissues$ | async)" [value] = pos.tissueId>
              {{pos.tissueName}}
            </option>
          </select>
          <select id="duplicationId" formControlName="duplicationId" [hidden]="columnShowFilters.controls.showDuplication.value === false" (change)="onEdit('duplicationId', duplicationId.value)" #duplicationId>
            <option *ngFor="let pos of (duplications$ | async)" [value] = pos.duplicationId>
              {{pos.duplicationName}}
            </option>
          </select>
          <input type="text" placeholder="Sample weight" formControlName="sampleWeight" [hidden]="columnShowFilters.controls.showSampleWeight.value === false" (change)="onEdit('sampleWeight', sampleWeight.value)" #sampleWeight>
          <select id="locationId" formControlName="locationId" [hidden]="columnShowFilters.controls.showLocation.value === false" (change)="onEdit('locationId', locationId.value)" #locationId>
            <option *ngFor="let pos of (locations$ | async)" [value] = pos.locationId>
              {{pos.locationName}}
            </option>
          </select>
          <select id="shelfPositionId" formControlName="shelfPositionId" [hidden]="columnShowFilters.controls.showShelfPosition.value === false" (change)="onEdit('shelfPositionId', shelfPositionId.value)" #shelfPositionId>
            <option *ngFor="let pos of (shelfPositions$ | async)" [value] = pos.shelfPositionId>
              {{pos.shelfPositionName}}
            </option>
          </select>
          <select id="containerTypeId" formControlName="containerTypeId" [hidden]="columnShowFilters.controls.showContainerType.value === false" (change)="onEdit('containerTypeId', containerTypeId.value)" #containerTypeId>
            <option *ngFor="let pos of (containerType$ | async)" [value] = pos.containerTypeId>
              {{pos.containerTypeName}}
            </option>
          </select>
          <app-prep-label *ngFor="let prep of result.get('prepsLocation').value" [hidden]="columnShowFilters.controls.showPreps.value === false" [prepData]="prep" [matTooltip]="prepTooltipMessageFactory(prep)" matTooltipClass="prep-tooltip">{{prep}}</app-prep-label>
        </div>
      </div>
      <button *ngIf="searchResults.controls.length > 0" (click)="save()" class="btn btn-warning btn-sm action-button" [disabled]="editRowCounter === 0">Save</button>
    </div>

    <!--<div class="row mb-2">
      <div class="col-md-12 form-input">
        <input type="text" placeholder="Sample name ranges" [class.is-invalid]="form.controls.sampleNameRanges.invalid && (form.controls.sampleNameRanges.touched || submitted)" formControlName="sampleNameRanges">
      </div>
    </div>

    <div class="col-md-12 form-input">
      <label for="speciesId">Species: </label>
      <select id="speciesId" (change)="onSpeciesSelectionChange($event)">
        <option value='' selected></option>
        <option *ngFor="let pos of (species$ | async)" [value] = pos.speciesId>
          {{pos.speciesName}}
        </option>
      </select>
    </div>

    <div class="col-md-12 form-input">
      <label for="populationId">Population: </label>
      <select id="populationId" formControlName="populationId">
        <option *ngFor="let pos of (populations$ | async)" [value] = pos.populationId>
          {{pos.populationName}}
        </option>
      </select>
    </div>

    <div class="col-md-12 form-input">
      <label for="tissueId">Tissue: </label>
      <select id="tissueId" formControlName="tissueId">
        <option *ngFor="let pos of (tissues$ | async)" [value] = pos.tissueId>
          {{pos.tissueName}}
        </option>
      </select>
    </div>

    <div class="row mb-2">
      <div class="col-md-12 form-input">
        <input type="text" placeholder="Sample weight" formControlName="sampleWeight">
      </div>
    </div>

    <div class="col-md-12 form-input">
      <label for="duplicationId">Duplication: </label>
      <select id="duplicationId" formControlName="duplicationId">
        <option *ngFor="let pos of (duplications$ | async)" [value] = pos.duplicationId>
          {{pos.duplicationName}}
        </option>
      </select>
    </div>

    <div class="col-md-12 form-input">
      <label for="locationId">Location: </label>
      <select id="locationId" formControlName="locationId">
        <option *ngFor="let pos of (locations$ | async)" [value] = pos.locationId>
          {{pos.locationName}}
        </option>
      </select>
    </div>

    <div class="col-md-12 form-input">
      <label for="shelfPositionId">Shelf position: </label>
      <select id="shelfPositionId" formControlName="shelfPositionId">
        <option *ngFor="let pos of (shelfPositions$ | async)" [value] = pos.shelfPositionId>
          {{pos.shelfPositionName}}
        </option>
      </select>
    </div>

    <div class="col-md-12 form-input">
      <label for="containerTypeId">Container type: </label>
      <select id="containerTypeId" formControlName="containerTypeId">
        <option *ngFor="let pos of (containerType$ | async)" [value] = pos.containerTypeId>
          {{pos.containerTypeName}}
        </option>
      </select>
    </div>

    <div class="col-md-12 form-input">
      <label for="collectionDate">Collection date: </label>
      <input type="date" id="collectionDate" formControlName="collectionDate">
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <button (click)="addPlantSamples()" class="btn btn-info">Generate samples set</button>
      </div>
    </div>

    <div class="row mb-2" formArrayName="plantSamples">
      <div *ngIf="plantSamples.length > 0">
        <div *ngFor="let plantSample of plantSamples.controls; let i=index" class="col-md-12 form-input">
          <div [formGroupName]="i">
            <input type="text" placeholder="Sample name ranges" [class.is-invalid]="plantSampleValid(i, 'sampleName')" formControlName="sampleName">
            <input type="text" placeholder="Sample weight" formControlName="sampleWeight">
            <select formControlName="locationId">
              <option *ngFor="let pos of (locations$ | async)" [value] = pos.locationId>
                {{pos.locationName}}
              </option>
            </select>
            <select formControlName="shelfPositionId">
              <option *ngFor="let pos of (shelfPositions$ | async)" [value] = pos.shelfPositionId>
                {{pos.shelfPositionName}}
              </option>
            </select>
            <select formControlName="containerTypeId">
              <option *ngFor="let pos of (containerType$ | async)" [value] = pos.containerTypeId>
                {{pos.containerTypeName}}
              </option>
            </select>
          </div>
        </div>

        <button (click)="submit()" style="margin-left: 15px; margin-top: 10px;" [disabled]="submitButtonDisable" class="btn btn-info">Submit</button>
      </div>
    </div>-->
  </form>
</div>


