<div class="container">
  <form [formGroup]="form">

    <div class="row mb-2">
      <div class="col-md-12 form-input">
        <input type="text" placeholder="Population name" [class.is-invalid]="form.controls.populationName.invalid && (form.controls.populationName.touched || submitted)" formControlName="populationName">
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12 form-input">
        <label for="speciesId">Species: </label>
        <select id="speciesId" formControlName="speciesId">
          <option *ngFor="let pos of (species$ | async)" [value] = pos.speciesId>
            {{pos.speciesName}}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <textarea id="populationDescription" placeholder="Description" formControlName="populationDescription" rows="3"></textarea>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </form>
</div>
