<div class="container mw-100 mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="container bg-light border border-secondary rounded">
        <div class="row">
          <div class="col-md-12 text-secondary mt-3">
            <i class="fas fa-seedling"></i> Species
          </div>
          <div class="col-md-12 text-success">
            <a routerLink="species" class="text-success">Show species</a>
          </div>
          <div class="col-md-12 text-secondary mt-3">
            <i class="fas fa-bacteria"></i> Populations
          </div>
          <div class="col-md-12 text-secondary mt-3">
            <i class="fas fa-leaf"></i> Plant samples
          </div>
          <div class="col-md-12 text-secondary mt-3">
            <i class="fas fa-carrot"></i> Tissues
          </div>
          <div class="col-md-12 text-success">
            <a routerLink="tissues" class="text-success">Show tissues</a>
          </div>
          <div class="col-md-12 text-success">
            <a routerLink="order/add" class="text-success">Add new tissue</a>
          </div>
          <div class="col-md-12 text-secondary mt-3">
            <i class="fas fa-microscope"></i> Analyses
          </div>
          <div class="col-md-12 text-success">
            <a routerLink="order/baskets" class="text-success">Show analyses</a>
          </div>
          <div class="col-md-12 text-success mb-3">
            <a routerLink="order/baskets" class="text-success">Add new analysis</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
