<form [formGroup]="form">
  <mat-checkbox formControlName="showSampleName">Sample name</mat-checkbox><br>
  <mat-checkbox formControlName="showCollectionDate">Collection date</mat-checkbox><br>
  <mat-checkbox formControlName="showPopulation">Population name</mat-checkbox><br>
  <mat-checkbox formControlName="showTissue">Tissue</mat-checkbox><br>
  <mat-checkbox formControlName="showDuplication">Duplication</mat-checkbox><br>
  <mat-checkbox formControlName="showPhenotype">Phenotype</mat-checkbox><br>
  <mat-checkbox formControlName="showSampleWeight">Sample weight</mat-checkbox><br>
  <mat-checkbox formControlName="showLocation">Location</mat-checkbox><br>
  <mat-checkbox formControlName="showShelfPosition">Shelf position</mat-checkbox><br>
  <mat-checkbox formControlName="showContainerType">Container type</mat-checkbox><br>
</form>
